body,html {
	width: 100%;
	height: 100%;
	font-family: 'Monserrat', sans-serif;
}

h1 {
	cursor: pointer;
}

li {
	display: inline-block;
	cursor: pointer;
}

img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}